/* fonts */
@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Lato&family=Poppins:wght@500&family=Rubik&family=Ubuntu&display=swap');
/* utilities and common styles */
body{
    font-family: 'Poppins', sans-serif;
    background: #F3F1FF;
    ;
}
main{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.container{
    background: white;
    width: 870px;
    padding: 30px;
    margin-bottom: 21px;
    border-radius: 5px;
}
.heading-title{
    color: #562EFF;
    font-size: 24px;
    margin-top: 3px;
}
.top-players{
    margin-bottom: 30px;
}
/* top player style */
.players{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-row-gap: 30px;
}
.player{
    display: flex;
    align-items: center;
}
.player img{
    width: 56px;
    height: 56px;
}
.palyer-name{
    margin-left: 16px;
    font-size: 18px;
}
hr{
    border: 1px solid #D1D1D1;
    margin-bottom: 27px;
}

/* --------------Blog Section styles-------------- */
.blogs{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    row-gap: 26px;
    align-items: center;

}
.blog{
    display: flex;
}
.blog-thumnail img{
    width: 177px;
    height: 117px;
}
.blog-info{
    margin-left: 16px;
}
.blog-title{
    font-size: 20px;
}
.blog-author p{
    color: #9F9F9F;
    font-size: 16px;
}
.blog-author a{
    color: #562EFF;
    text-decoration: none;
    font-size: 16px;
    ;
}
/*----------------------- course section styles------------------ */
.courses{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    column-gap: 24px;
}
.latest-courses{
    width: 253px;
    border: 10px solid white;
    border-radius: 15px;
    box-shadow: 0px 5.34229px 13.3557px rgba(0, 0, 0, 0.05);
}
.course-info{
    display: flex;
    align-items: center;
    justify-content: space-between;
    
}
.course-info span{
    font-size: 12px;
}
.course-rating span{
    margin-left: 11px;
    color: #A2A2A2;
}
.course-duration{
    background: #FFE4E8;
    padding: 10px;
    height: 20px;
    border-radius: 40px;
    justify-content: center;
}
.course-duration span{
    font-size: 15px;
    color: #FF4A60;
    font-weight: 700;
}
.course-banner img{
    height: 104px;
}
.fa-star{
    font-size: 11px;
}
.fa-clock{
    font-size: 20px;
    color: #FF4A60;
}
.fa-star.filled{
    color: #FFC014;
}
.fa-star.not-filled{
    color:#A2A2A2
}
/*---------------- Mobile Device--------- */
@media only screen and (max-width:668px) {
    .container{
        width: 100%;
    }
    .players, .blogs, .courses{
        grid-template-columns: repeat(1,1fr);
    }
    .player, .blog{
        flex-direction: column;
       
    }
    .courses{
        justify-items: center;
}
    }

/* -----------------tablet devices-------------- */
@media only screen and (min-width:688px) and (max-width:992px){
    .container{
        width: 100%;
    }
    .players, .courses{
        grid-template-columns: repeat(2,1fr);
    }
    .blogs{
        grid-template-columns: repeat(1,1fr);
    }
    .player, .blog{
        flex-direction: column;
       
    }
    .courses{
        justify-items: center;
}
    }